<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
    <category
          id="org.qualitune.ui.views.category"
          name="QualiTune">
    </category>
    <view
          category="org.qualitune.ui.views.category"
          class="org.qualitune.jouleunit.ui.EnergyView"
          icon="icons/power.gif"
          id="org.qualitune.jouleunit.ui.views.energyview"
          name="Test Run Details">
    </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
    <view
          category="org.qualitune.ui.views.category"
          class="org.qualitune.jouleunit.ui.TestCaseView"
          icon="icons/androidjouleunit.png"
          id="org.qualitune.jouleunit.ui.views.testcaseview"
          name="Test Run Results">
    </view>
   </extension>
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="org.qualitune.jouleunit.ui.Main"
	    class="org.qualitune.jouleunit.ui.preferences.MainPreferencePage"
            name="QualiTune">
       </page>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
         <scope name="qualitune" class="org.qualitune.jouleunit.ui.preferences.PreferenceConstants"/>
         <initializer class="org.qualitune.jouleunit.ui.preferences.PreferenceInitializer"/>
         <modifier class="org.qualitune.jouleunit.ui.PreferenceModifyListener"/>
 </extension>
   <extension point="org.eclipse.ui.perspectives"><perspective class="org.qualitune.jouleunit.ui.perspective.JouleUnitPerspectiveFactory" icon="icons/androidjouleunit.png" id="org.qualitune.jouleunit.ui.perspective" name="Joule Unit"><description>
            The perspective of JouleUnit. Provides views and tables to run JouleUnit tests and investigate their results.
         </description></perspective>
   </extension>
</plugin>
